.background {
  background-image: url('/background-cards-2.webp');
  background-repeat: no-repeat;
  padding: 1rem 0;
  background-color: #ff7a00;
  background-position: center;
}
.container {
  /* background: green; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}
.title {
  text-align: center;
}

.subtitle {
  font-weight: lighter;
}

.containerVideo {
  width: 100%;
  aspect-ratio: 16/9;
  border-radius: 0.25rem;
  overflow: hidden;
}

@media (width > 920px) {
  .container {
    display: grid;
    grid-template-columns: 405px 1fr;
    justify-content: center;
  }
}
