.card {
  height: 25rem;
  width: 15rem;
  transform: translateX(14%);
}
.card:hover .header {
  transform: translate(10%, 10%);
  transition: transform 250ms;
}
.header {
  position: relative;
  width: 83%;
  inset-block-start: 0%;
  z-index: 2;
  height: 35%;
  inset-inline-start:-14%;
  background-color: #FFF;
  border-radius: 0.25rem;
  box-shadow: 0em 0em 0.5em 0.1em #0000001a;
  padding: 1rem;
  transition: transform 250ms;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.body {
  inset-block-start: -25%;
  height: 86%;
  border-radius: 0.25rem;
  position: relative;
  z-index: 1;
  transition: background 250ms;
  color: #FFF;
  font-weight: lighter;
  background-color: var(--color-1);
}
.body:hover {
  background-color: var(--color-2);
}