/* modo claro */
:root {
  --primary-100: #00b3ff;
  --primary-200: #0583f2;
  --primary-300: #0e58ea;
  --primary-400: #0039a4;

  --secondary-100: #ffc85f;
  --secondary-200: #ff912c;
  --secondary-300: #ff7a00;
  --secondary-400: #ff4c00;

  --bg-100: #ffffff;
  --bg-200: #d9dfe8;
}

/* modo: oscuro*/
@media (prefers-color-scheme: dark) {
  :root {
    --bg: #1c1c1c;
  }
}

/*modo: alto contraste*/
@media (prefers-contrast: high) {
  :root {
    --bg: #151515;
  }
}
