@import './colors.css';
@import './variables.css';
@import './fonts.css';
@import './reset.css';

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--bg);
  background: linear-gradient(90deg, #c0cde8, white 15% 80%, #c0cde8);
}

body > main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

section[id] {
  scroll-margin-top: 4rem;
}
