* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: var(--f-primary);
}

a {
  text-decoration: none;
  color: var(--c-primary);
  cursor: pointer;
}

ul,
li {
  list-style: none;
}
