.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container img {
  margin-bottom: 1.5rem;
  max-height: 6rem;
  height: 100%;
  width: 100%;
}
.container p {
  max-width: 25ch;
  text-align: center;
}