.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container img {
  margin-bottom: 1.5rem;
  inline-size: 100%;
  max-block-size: 6rem;
}
.container p {
  max-inline-size: 20ch;
  text-align: center;
}