.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
img {
  margin-bottom: .5rem;
}
.container p {
  max-width: 25ch;
  text-align: center;
}