.section {
  padding: 2rem 0;
}
.container {
  display: flex !important;
  flex-direction: column;
  gap: 1rem;
}

@media (min-width: 700px) {
  .section {
    padding: 4rem 0;
  }
  .container {
    gap: 2rem;
  }
}
